header
   h1
      font-size: 1em

   nav
      text-align: center

ul
   list-style: none
   padding: 0%

   li
      display: inline-block

   ul
      li
         display: none

section
   div
      display: inline-block

   .books
      width: 150px
      vertical-align: top

   .details
      width: 150px
      vertical-align: top

.parallax
   min-height: 320px
   background-attachment: fixed
   background-position: center
   background-repeat: no-repeat
   background-size: cover

#first-parallax
   background-image: url("../images/mountain320.jpeg")

#second-parallax
   background-image: url("../images/forest320.jpeg")

#third-parallax
   background-image: url("../images/plains320.jpeg")

#fourth-parallax
   background-image: url("../images/ocean320.jpeg")

footer
   nav
      text-align: center